.container {
  color: white;
  .kickstarterXl {
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 525px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .kickstarterMd {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;

    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 360px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .kickstarterXs {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 10px;

    background-color: rgba(0, 0, 0, 0.368);
    width: 100%;
    height: 100%;
    div {
      width: 250px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      img {
        width: 100%;
      }
      button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
          transform: rotate(180deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .upArrow {
    position: fixed;
    // bottom: 0;
    right: 0;
    left: 0;
    bottom: 20px;
    z-index: 50;
    // backgroun]d: red;
    margin: 0 auto;
    width: 40px;
    height: 30px;
    transition: all 250ms;
    img {
      width: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  .header {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../public/desktop/header_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
    font-family: "Eras Bold";
    .headerLogo {
      width: 600px;
      position: relative;
      bottom: 2vh;
      z-index: 4;
    }
    h1 {
      position: relative;
      z-index: 4;
      font-size: 85px;
      text-align: center;
      margin-bottom: 15px;
    }
    .headerForm {
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      // font-weight: $fontBold;
      font-family: "Eras Bold";
      font-size: 25px;
      text-align: center;
      // background: red;
      // width: 32%;
      .headerCaptcha {
        left: 0;
        align-self: center;
      }

      width: 425px;
      .headerJoinPeople {
        align-self: center;
      }
      input {
        margin: 5px 0 15px 0;
        background-color: white;
        color: black;
        border: none;
        border-radius: 8px;
        width: 100%;
        padding: 10px 0 10px 15px;
      }
      button {
        margin: 15px 0 0px 0;
        background-color: #f6b83e;
        border: none;
        width: 150px;
        height: 30px;
        border-radius: 10px;
        align-self: center;
        font-family: "Montserrat";
        font-weight: 800;
        color: white;
        cursor: pointer;
        transition: all 250ms;
        &:hover {
          background-color: #c39230;
        }
      }
      .feraRed {
        width: 350px;
        align-self: center;
        margin-bottom: 25px;
      }
      .headerCaptchaMobile {
        display: none;
      }
    }
    .headerFormBg {
      width: 650px;
      position: absolute;
      bottom: 0;
      z-index: 3;
    }
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/section1/bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Eras Bold";
    h3 {
      margin-left: 350px;
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 50px;
      text-align: center;
      // text-shadow: 3px 3px 10px black;
      position: relative;
      z-index: 2;
    }
    .section1LeftDeco {
      position: absolute;
      width: 50%;
      left: 0;
      z-index: 1;
    }
    .section1RightDeco {
      position: absolute;
      width: 30%;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .section1MobileDeco {
      display: none;
    }
  }
  .section2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/section2/bg.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: column;
    padding-bottom: 50px;
    font-family: "Eras Bold";
    h3 {
      width: 90%;
      position: relative;
      margin: 50px 0 50px 0;
      font-size: 75px;
      text-align: center;
    }
    img {
      width: 100%;
    }
    .section2MobileFerapets {
      display: none;
    }
  }
  .section3 {
    width: 100%;
    height: 100vh !important;
    background-image: url("../../../public/section3/bg.jpg");
    background-position: 100% center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    .section3Title {
      margin-top: 50px;
      // font-size: 70px;
      font-size: 5vw;
      width: 80%;
      text-align: center;
      // font-weight: $fontBold;
      font-family: "Eras Bold";
      position: relative;
      z-index: 2;
    }
    .section3Text1 {
      margin-top: 30px;
      font-weight: 400;
      font-family: "Eras Medium";
      font-size: 2.5vw;
      right: 50px;
      width: 50%;
      text-align: center;
      position: relative;
      z-index: 2;
    }
    .section3Float {
      position: absolute;
      right: 20px;
      top: 200px;
      width: 400px;
      border-radius: 20px;
      height: 100px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 5;
      h4 {
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
        font-size: 20px;
        font-weight: 300;
        font-family: "Eras Light";
      }
      svg {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -20px;
        left: -20px;
      }
    }
    .section3Text2 {
      font-size: 2.8vw;
      text-align: center;
      font-weight: 300;
      margin-top: 50px;
      position: relative;
      right: 50px;
      height: 100%;
      width: 40%;
      font-family: "Eras Medium";
      text-shadow: 3px 3px 10px black;
    }
    .section3LeftDeco {
      position: absolute;
      top: 30px;
      left: 0;
      width: 22%;
      z-index: 1;
    }
    .section3LeftDeco2 {
      position: absolute;
      bottom: 0;
      right: 800px;
      width: 500px;
      z-index: 1;
    }
    .section3RightDeco {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 700px;
      z-index: 1;
    }
  }
  .preSection4 {
    width: 100%;
    height: 100%;
    background: #001334;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    h3 {
      // font-weight: $fontBlack;
      font-family: "Eras Demi";
      font-size: 40px;
      text-align: center;
      padding: 50px 20px;
    }
    div {
      bottom: 75px;
      width: 60%;
      height: 2px;
      background-color: white;
    }
  }
  .section4 {
    height: 100%;
    padding-top: 40px;
    width: 100%;
    background-color: #001334;
    position: relative;
    padding-left: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    h3,
    p,
    img {
      position: relative;
      z-index: 2;
    }
    p {
      font-size: 30px;
      font-weight: 400;
      text-shadow: 3px 3px 10px black;
      width: 60%;
      font-family: "Eras Medium";
    }
    .section4Elements {
      width: 500px;
      margin: 50px 0 75px 0;
    }
    h3 {
      font-size: 60px;
      width: 80%;
      text-align: left;
      text-shadow: 3px 3px 10px black;
      font-family: "Eras Bold";
    }
    .section4BigImage {
      z-index: 1;
      width: 70%;
      padding-top: 100px;
      position: absolute;
      right: 0;
    }
    .section4Image {
      position: absolute;
      display: none;
      right: 0;
      bottom: 0;
      width: 750px;
      z-index: 1;
    }
    .section4MobileImage {
      display: none;
    }
  }
  .section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/section5/bg.jpg");
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -2px auto 0 auto;
    h3 {
      font-size: 60px;
      text-shadow: 3px 3px 10px black;
      width: 80%;
      text-align: center;
      margin: 40px 0;
      font-family: "Eras Bold";
    }
    .section5UpContainer,
    .section5DownContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      p {
        font-size: 40px;
        width: 50%;
        text-align: center;
        font-family: "Eras Medium";
      }
      img {
        width: 40%;
      }
    }
    .section5DownContainer {
      margin-top: -100px;
      img {
        width: 20%;
      }
    }
  }
  .section6 {
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    h3 {
      font-size: 90px;
      font-family: "Eras Bold";
      position: relative;
      z-index: 2;
    }
    p {
      font-size: 30px;
      font-family: "Eras Medium";
      padding-bottom: 50px;
      position: relative;
      z-index: 2;
    }
    .section6Tiers {
      // margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      width: 100%;
      position: relative;
      z-index: 2;
      .section6Tier {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 350px;
        }
        p {
          text-align: center;
          font-size: 40px;
          margin-top: 10px;
          font-family: "Eras Bold";
        }
      }
    }
    .section6Bg {
      position: absolute;
      top: -1px;
      right: -1px;
      width: 100%;
      z-index: 1;
    }
    .section6MobileBg {
      display: none;
    }
  }
  .section7 {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;

    h3 {
      width: 90%;
      font-size: 70px;
      font-family: "Eras Bold";
    }
    img {
      width: 100%;
    }
  }
  .section8 {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;

    h3 {
      width: 90%;
      font-size: 50px;
      font-family: "Eras Bold";
      position: relative;
      text-shadow: 3px 3px 10px black;
      z-index: 2;
    }
    img {
      position: relative;
      z-index: 1;
      margin-top: -75px;
      width: 100%;
    }
  }
  .section9 {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/section9/bg.jpg");
    background-position: center 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    h3 {
      width: 90%;
      font-size: 90px;
      font-family: "Eras Bold";
      position: relative;
      text-shadow: 3px 3px 10px black;
      z-index: 2;
    }
    .section9Main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 0 auto;
      width: 90%;
      height: 100%;
      margin-top: 50px;
      .section9Left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        p {
          font-size: 40px;
          font-family: "Eras Medium";
        }
        div {
          width: 80%;
          margin: 0 auto;
          height: 2px;
          background-color: white;
        }
        img {
          margin-top: -50px;
          width: 600px;
        }
      }
      .section9Right {
        width: 50%;
        height: 100%;
        img {
          width: 60%;
        }
      }
    }
    .section9Divisor {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      .section9DivisorLeft,
      .section9DivisorRight {
        width: 35%;
        height: 2px;
        background-color: white;
      }
      .section9DivisorMiddle {
        width: 20px;
        height: 20px;
        background-color: white;
        margin: 20px;
        transform: rotateZ(45deg);
      }
    }
  }
  .form {
    width: 100%;
    height: 850px;
    background-color: #001334;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    p {
      position: relative;
      z-index: 2;
      font-size: 40px;
      font-family: "Eras Bold";
      text-align: center;
    }
    .headerForm {
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Eras Bold";
      font-size: 25px;
      text-align: center;
      width: 425px;
      .headerJoinPeople {
        margin: 10px 0;
      }
      input {
        margin: 5px 0 15px 0;
        background-color: white;
        color: black;
        border: none;
        border-radius: 8px;
        width: 100%;
        padding: 10px 0 10px 15px;
      }
      button {
        margin: 25px 0 0px 0;
        background-color: #f6b83e;
        border: none;
        width: 370px;
        height: 50px;
        border-radius: 20px;
        font-family: "Montserrat";
        font-weight: 800;
        font-size: 25px;
        color: white;
        cursor: pointer;
        transition: all 250ms;
        &:hover {
          background-color: #c39230;
        }
      }
      .headerCaptchaMobile {
        display: none;
      }
      .feraBlue {
        width: 500px;
        align-self: center;
        margin-bottom: 25px;
      }
    }
    .formBg1 {
      width: 25%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    .formBg2 {
      width: 25%;
      position: absolute;

      bottom: 0;
      right: 0;
      z-index: 2;
    }
    .formBg3 {
      width: 100%;
      position: absolute;
      bottom: -400px;
      z-index: 1;
    }
    .formBg4 {
      // display: none;
      width: 40%;
      position: absolute;
      bottom: 0;
      z-index: 2;
    }
    .formDiscord {
      position: absolute;
      z-index: 5;
      bottom: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 15px 0;
        width: 350px;
        height: 75px;
        // height: 150px;
        cursor: pointer;
        background-color: #5865f2;
        transition: all 250ms;
        &:hover {
          background-color: #404bbb;
        }
        svg {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}
@media (max-height: 750px) {
  .container {
    .header {
      .headerFormBg {
        width: 550px;
      }
    }
    .section3 {
      height: 120vh !important;
    }
  }
}
@media (max-height: 650px) {
  .container {
    .header {
      h1 {
        font-size: 60px;
      }
      .headerFormBg {
        width: 500px;
      }
    }
    .section3 {
      height: 130vh !important;
    }
  }
}
@media (max-width: 1700px) {
  .container {
    .section3 {
      .section3RightDeco {
        width: 550px;
      }
      .section3LeftDeco2 {
        right: 600px;
      }
    }
  }
}
@media (max-width: 1500px) {
  .container {
    .section4 {
      .section4BigImage {
        width: 90%;
      }
    }
  }
}
@media (max-width: 1420px) {
  .container {
    .section3 {
      .section3Float {
        width: 320px;
      }
    }
    .section5 {
      .section5UpContainer,
      .section5DownContainer {
        p {
          font-size: 30px;
        }
      }
      .section5DownContainer {
        margin-top: -50px;
      }
    }
    .form {
      height: 900px;
    }
  }
}
@media (max-width: 1275px) {
  .container {
    .section4 {
      .section4BigImage {
        display: none;
      }
      .section4Image {
        display: initial;
      }
    }
  }
}
@media (max-width: 1220px) {
  .container {
    .section3 {
      .section3Text2 {
        right: 80px;
        width: 30%;
        font-size: 35px;
      }
    }
    .section4 {
      overflow: hidden;
      .section4Image {
        right: -80px;
      }
    }
    .section6 {
      padding: 20px 0 0px 0;
      h3 {
        font-size: 60px;
      }
      p {
        padding-bottom: 120px;
      }
      .section6Tiers {
        .section6Tier {
          img {
            width: 200px;
          }
        }
      }
    }
    .section9 {
      padding-top: 0px;
      h3 {
        font-size: 70px;
      }
      .section9Main {
        .section9Left {
          p {
            font-size: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    .section3 {
      .section3RightDeco {
        width: 500px;
      }
      .section3LeftDeco2 {
        right: 490px;
      }
    }
    .section4 {
      .section4Elements {
        width: 300px;
      }
      .section4Image {
        width: 700px;
      }
    }
    .section5 {
      h3 {
        font-size: 50px;
      }
      .section5UpContainer,
      .section5DownContainer {
        p {
          font-size: 30px;
        }
      }
      .section5DownContainer {
        margin-top: -0px;
      }
    }
    .section6 {
      padding-bottom: 30px;
      p {
        padding-bottom: 7vw;
      }
    }
    .section9 {
      .section9Main {
        .section9Left {
          img {
            width: 400px;
          }
        }
        .section9Right {
          img {
            width: 70%;
          }
        }
      }
    }
    .form {
      height: 100%;
      padding-bottom: 200px;
      p {
        font-size: 40px;
      }
      .formBg3 {
        bottom: -200px;
      }
    }
  }
}
@media (max-width: 1100px) and (max-height: 750px) {
  .container {
    .header {
      h1 {
        font-size: 65px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .container {
    .header {
      height: 100%;
      .headerForm {
        // background: red;
      }
    }
    .section2 {
      h3 {
        font-size: 45px;
      }
    }
    .section3 {
      .section3Float {
        height: 200px;
        width: 250px;
        top: 200px;
        right: 20px;
      }
    }
  }
}
@media (max-width: 900px) {
  .container {
    .section1 {
      h3 {
        // background: red;
        align-items: flex-start;
        padding-top: 100px;
      }
    }
    .preSection4 {
      h3 {
        font-size: 30px;
      }
    }
    .section4 {
      h3 {
        width: 90%;
      }
      p {
        width: 60%;
      }
      .section4Image {
        width: 600px;
      }
    }
    .section5 {
      h3 {
        font-size: 40px;
      }
      .section5UpContainer,
      .section5DownContainer {
        p {
          font-size: 25px;
        }
      }
    }
    .section6 {
      padding-bottom: 50px;
      h3 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
      .section6Tiers {
        .section6Tier {
          img {
            // width: 150px;
            width: 50%;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .section7 {
      padding-top: 0;
      h3 {
        font-size: 50px;
        margin-bottom: 20px;
      }
    }
    .section8 {
      padding-top: 0;
      h3 {
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
    .section9 {
      padding-top: 20px;
      padding-bottom: 0px;
      h3 {
        font-size: 50px;
      }
      .section9Main {
        .section9Left {
          p {
            font-size: 20px;
          }
        }
      }
    }
    .form {
      .formBg1 {
        width: 240px;
      }
      .formBg2 {
        width: 240px;
      }
      .formBg3 {
        bottom: -100px;
      }
    }
  }
}
@media (max-width: 800px) {
  .container {
    .kickstarterXl {
      display: none;
    }
    .kickstarterMd {
      display: flex;
    }
    .section1 {
      h3 {
        font-size: 40px;
      }
    }
    .section3 {
      .section3Text2 {
        font-size: 30px;
      }
    }
    .section4 {
      .section4Image {
        opacity: 0.7;
      }
      h3 {
        width: 95%;
        font-size: 7vw;
      }
    }
    .section5 {
      .section5DownContainer {
        margin-top: 40px;
      }
    }
    .form {
      p {
        font-size: 35px;
      }
      .formDiscord {
        a {
          width: 250px;
        }
      }
      .formBg1,
      .formBg2 {
        width: 200px;
      }
    }
  }
}
@media (max-width: 800px) and (max-height: 650px) {
  .container {
    .header {
      h1 {
        font-size: 50px;
      }
    }
  }
}
@media (max-width: 720px) {
  .container {
    .header {
      background-image: url("../../../public/mobile/header_bg.jpg");
      padding-top: 50px;
      .headerLogo {
        width: 80%;
      }
      h1 {
        font-size: 50px;
      }
      .headerFormBg {
        width: 430px;
        height: 525px;
      }
      .headerForm {
        width: 350px;
        button{
          width: 90%;
          height: 50px;
          font-size: 25px;
        }
      }
    }
    .section1 {
      height: 100%;
      background-image: url("../../../public/section1/mobileBg.jpg");
      background-position: center 20%;
      background-size: cover;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      overflow: hidden;
      h3 {
        align-items: flex-end;
        padding-bottom: 10px;
        width: 90%;
        margin: 0;
        height: 100%;
        font-size: 40px;
        margin: 0;
        padding: 10px 0 30px 0;
      }
      .section1LeftDeco,
      .section1RightDeco {
        display: none;
      }
      .section1MobileDeco {
        display: flex;
        width: 101%;
      }
    }
    .section2 {
      background-image: url("../../../public/section2/mobileBg.jpg");
      overflow: hidden;
      .section2Ferapets {
        display: none;
      }
      .section2MobileFerapets {
        display: flex;
        width: 101%;
      }
    }
    .section3 {
      .section3Title {
        font-size: 45px;
        width: 90%;
      }
      .section3Text1 {
        right: 0px;
        left: 50px;
        font-size: 30px;
      }
      .section3Float {
        left: 30px;
        top: 550px;
        width: 150px;
      }
      .section3Text2 {
        z-index: 5;
        width: 40%;
        align-self: center;
        right: 0;
        // background: red;
        font-size: 25px;
      }
      .section3LeftDeco {
        width: 200px;
        top: 100px;
      }
      .section3RightDeco {
        width: 400px;
      }
      .section3LeftDeco2 {
        display: none;
      }
    }
    .section4 {
      .section4Image {
        display: none;
      }
      .section4MobileImage {
        display: flex;
        position: absolute;
        bottom: 0px;
        right: -20px;
        width: 300px;
        opacity: 0.8;
        z-index: 1;
      }
      p {
        // background: red;
        width: 80%;
        font-size: 4vw;
      }
      .section4Elements {
        width: 250px;
      }
    }
    .section5 {
      h3 {
        font-size: 35px;
      }
      .section5UpContainer {
        p {
          font-size: 20px;
          width: 40%;
        }
        img {
          width: 350px;
        }
      }
      .section5DownContainer {
        margin: 0;
        p {
          font-size: 20px;
          width: 40%;
          margin-top: 50px;
        }
        img {
          width: 250px;
        }
      }
    }
    .section6 {
      h3 {
        font-size: 50px;
        text-align: center;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
      .section6Tiers {
        flex-wrap: wrap;
        justify-content: space-between;
        .section6Tier {
          flex: 1 1 50%;
          img {
            width: 200px;
          }
        }
      }
      .section6Bg {
        height: 800px;
        top: -30px;
      }
    }
    .section7 {
      overflow: hidden;
      padding-bottom: 40px;
      h3 {
        font-size: 40px;
        width: 95%;
      }
      img {
        width: 900px;
      }
    }
    .section8 {
      overflow: hidden;
      h3 {
        font-size: 30px;
      }
      img {
        width: 900px;
      }
    }
    .section9 {
      overflow: hidden;
      .section9Main {
        flex-direction: column-reverse;
        position: relative;
        .section9Right {
          // width: 80%;
          width: 530px;
        }
        .section9Left {
          flex-direction: row-reverse;
          div {
            display: none;
          }
          p {
            position: relative;
            top: 20px;
            left: 55px;
          }
          img {
            position: absolute;
            left: -50px;
            bottom: 20px;
            width: 300px;
          }
        }
      }
    }
    .form {
      // height: 750px;
      .formBg1,
      .formBg2,
      .formBg3 {
        display: none;
      }
      .formBg4 {
        width: 100%;
      }
      p {
        font-size: 50px;
      }
      .formDiscord {
        a {
          svg {
            width: 200px;
            height: 30px;
          }
        }
      }
    }
  }
}
@media (max-height: 750px) {
  .container {
    .section5 {
      height: 100%;
    }
  }
}
@media (max-height: 650px) {
  .container {
    .header {
      h1 {
        font-size: 40px;
      }
    }
    .section5 {
      height: 100%;
    }
  }
}
@media (max-width: 640px) {
  .container {
    .section2 {
      h3 {
        font-size: 50px;
      }
    }
    .section3 {
      height: 95vh !important;
      .section3Text2 {
        width: 50%;
        padding: 0 10px;
        font-size: 30px;
        left: 30px;
      }
      .section3RightDeco {
        width: 300px;
      }
    }
    .section4 {
      .section4MobileImage {
        width: 300px;
      }
    }
    .section9 {
      .section9Main {
        .section9Left {
          p {
            left: 80px;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) and (max-height: 750px) {
  .container {
    .section3 {
      height: 100vh !important;
    }
  }
}
@media (max-width: 640px) and (max-height: 650px) {
  .container {
    .section3 {
      height: 130vh !important;
    }
  }
}
@media (max-width: 550px) {
  .container {
    .section3 {
      .section3Text1 {
        // background: red;
        width: 70%;
        padding-left: 25px;
        align-self: flex-end;
        left: 0;
      }
      .section3Float {
        align-self: flex-end;
        margin-top: 20px;
        position: relative;
        top: 0;
        left: -30px;
        width: 50%;
        svg {
          width: 30px;
          height: 30px;
          left: -10px;
          top: -10px;
        }
      }
      .section3Text2 {
        // background: red;
        width: 70%;
        padding-top: 20px;
        align-self: flex-start;
        left: 0;
      }
    }
    .preSection4 {
      h3 {
        font-size: 20px;
        padding-bottom: 30px;
      }
    }
    .section8 {
      img {
        width: 800px;
      }
    }
    .form {
      p {
        font-size: 30px;
        padding: 0 15px;
      }
      .headerForm {
        width: 90%;
        .headerJoinPeople {
          font-size: 20px;
        }
        input {
          width: 100%;
        }
        button{
        width: 90%;
        }
        .feraBlue {
          width: 90%;
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .container {
    .section1 {
      h3 {
        font-size: 30px;
      }
    }
    .section2 {
      h3 {
        top: 10px !important;
      }
    }
    .section3 {
      overflow: hidden;
      .section3Text2 {
        width: 60%;
        // font-size: 20px;
        // background: red;
      }
      .section3RightDeco {
        right: -50px;
      }
    }
    .section4 {
      .section4Elements {
        width: 200px;
      }
      .section4MobileImage {
        width: 250px;
      }
    }
    .section5 {
      overflow: hidden;
      .section5UpContainer {
        img {
          width: 250px;
          margin-left: -50px;
        }
      }
      .section5DownContainer {
        img {
          margin-right: -50px;
        }
      }
    }
    .section7 {
      h3 {
        font-size: 30px;
      }
    }
    .section9 {
      .section9Main {
        .section9Left {
          p {
            left: 100px;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .container {
    .header {
      padding-top: 100px;
      display: flex;
      .headerLogo {
        width: 310px;
        padding-bottom: 50px;
      }
      h1 {
        font-size: 30px;
      }
      .headerFormBg {
        display: none;
      }
      .headerForm {
        justify-self: flex-end;
        width: 250px;
        // font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
  
        input {
          width: 90%;
        }
        .headerCaptcha {
          display: none;
        }
        .headerCaptchaMobile {
          display: inline;
        }
      }
    }
    .section1 {
      h3 {
      }
    }
    .section3 {
      .section3Text1 {
        font-size: 25px;
        width: 65%;
      }
      .section3Float {
        left: -10px;
      }
      .section3Text2 {
        font-size: 25px;
        top: 30px;
      }
    }
    .section5 {
      h3 {
        font-size: 25px;
      }
      .section5UpContainer,
      .section5DownContainer {
        p {
          font-size: 15px;
        }
      }
      .section5DownContainer {
        p {
          margin-top: 70px;
        }
      }
    }
    .section7 {
      img {
        width: 500px;
      }
    }
    .section8 {
      h3 {
        font-size: 25px;
      }
      img {
        width: 600px;
      }
    }
  }
}
@media (max-width: 450px) and (max-height: 750px) {
  .container {
    .section3 {
      // height: 100vh !important;
      .section3Text1 {
        font-size: 25px;
      }
      .section3Text2 {
        top: 30px;
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 420px) {
  .container {
    .kickstarterMd {
      display: none;
    }
    .kickstarterXs {
      display: flex;
    }
    .section3 {
      overflow: hidden;
      .section3Title {
        margin-top: 25px;
      }
      .section3Text1 {
        padding: 0;
        padding-right: 10px;
      }
      .section3LeftDeco {
        left: -20px;
        top: 150px;
        width: 150px;
      }
      .section3Float {
        width: 60%;
        padding: 10px 0;
      }
      .section3RightDeco {
        right: -20px;
        width: 275px;
      }
      .section3Text2 {
        font-size: 22px;
      }
    }
    .section4 {
      padding-left: 20px;
      h3 {
        width: 100%;
        font-size: 30px;
      }
      p {
        width: 90%;
        margin-top: 10px;
      }
      .section4Elements {
        margin-top: 20px;
      }
      .section4MobileImage {
        width: 230px;
        right: -50px;
      }
    }
    .section9 {
      h3 {
        font-size: 35px;
      }
      .section9Main {
        margin-top: 0px;
        .section9Left {
          width: 100%;
          p {
            left: 0;
            top: 80px;
            width: 100%;
          }

          img {
            bottom: 30px;
            left: -100px;
          }
        }
      }
      .section9Divisor {
        margin-top: 100px;
      }
    }
  }
}
@media (max-width: 420px) and (max-height: 650px) {
  .container {
    .section3 {
      height: 110vh !important;
      .section3Text2 {
        top: 0;
      }
    }
  }
}
@media (max-width: 400px) {
  .container {
    .section1 {
      h3 {
        padding-bottom: 30px;
        font-size: 30px;
      }
    }
    .section2 {
      h3 {
        font-size: 40px;
      }
    }
    .section3 {
      .section3Title {
        font-size: 25px;
      }
      .section3Text1 {
        font-size: 25px;
      }
      .section3Float {
        width: 50%;
      }
    }
    .section6 {
      h3 {
        font-size: 35px;
      }
      p {
        margin-top: 10px;
        font-size: 18px;
        width: 80%;
      }

      .section6Bg {
        top: -5px;
        height: 1000px;
      }
    }
  }
}
@media (max-width: 390px) and (max-height: 750px) {
  .container {
    .section3 {
      .section3Text2 {
        top: 0px;
      }
    }
  }
}
